@CHARSET "ISO-8859-1";

body:h3 { color: red}
h1 {color: blue}

table{
	align: ;
		border: 2px solid;
	border-color: blue;
	font-size: 50px;
	
}

th{
	border: 1px solid;
	border-color: brown;
	color: black;
}

td
{
	border: 1px solid;
	border-color: red;
	color: yellow;
}

body { 
	background: url(1266216474883.gif);
	font-size: 25px;
	color: red;
	font-style: oblique;
	cursor:url(l-gcat01.ani),url(38036.gif),auto;
	}
	
a:hover{
	cursor:url(l-gcat10.ani),url(38045.gif),auto;
}


.button {
    background-color: #ff00ff;
    border: none;
    color: black;
    
    font-size: 30px;
    text-align: center;
    font-style: oblique;
    cursor:url(l-gcat10.ani),url(38045.gif),auto;
}


input-field:hover{
	cursor:url(l-gcat05.ani),url(38040.gif),auto
}